<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>守望先锋亚服交流群官方网站</title>
    <style>
 .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border-radius: 5px;
}
</style>
</head>
<body>
    <h1>守望先锋亚服交流群</h1>
   <p>这是我们的官网，没错！如你所见这里空无一物。我们将在后期慢慢完善它。如果你有好的意见。欢迎联系：<a href="mailto:47830915g@gmail.com">47830915g@gmail.com</a></p>
   <p>由“舒张压90”制作</p>

   <p><span style="color: red;">测试版本不代表最终品质！！！</span></p>

    <a href="" class="button">GitHub</a>





</body>
</html>
